.titulo {

    text-align: center;
}


.menu{

    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 20px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/

}

h1{
    color:rgb(241, 241, 247);
}

img{
 height: 8%;
    width: 5%;
}