.titulo {

    text-align: center;
}


.menu{

    text-align: center;


    border: 1px solid #09090af5; /*anchura, estilo y color borde*/
padding: 20px; /*espacio alrededor texto*/
background-color: #d4e08d; /*color botón*/
color: #d4e08d; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 20px; /*bordes redondos*/

}

h1{
    color:rgb(11, 11, 245);
}

img{
 height: 8%;
    width: 5%;
}